
<div class="container text-center"> <!--Container para a navegação das paginas com texto centralizado-->
  <h2>Bem-vindo a Galáxia das Postagens. Neste lugar você podera verificar as
    postagens deixadas por várias criaturas de outras galáxias que passaram por aqui!</h2>
  <div class="row"> <!--Linha do container-->
    <div class="col-4 search-bar "> <!--Coluna do container com espaço 4-->
      <form [formGroup]="searchForm"><!--Formulario para colocar a barra de pesquisa-->
        <div class="form-group"> <!--Com a atribuição acima para o grupo de formularios "searchForm" devemos colocar que esta div e do form-group para o angular identicar que ela pertence a um grupo-->
            <input type="text" formControlName="seatchControl" class="form-control" placeholder="O que você esta procurando padawan?">
        </div>
      </form>
    </div>
    <div class="col"> <!--Coluna do container-->
      <button  [routerLink]="['/']">Galáxia Inicial</button> <!--Botão de rota de Navegação-->
    </div>
    <div class="col"> <!--Coluna do container-->
      <button  [routerLink]="['/albuns']">Proxima Galáxia</button> <!--Botão de rota de Navegação-->
    </div>
  </div>
</div>

<table class="table table-striped table-dark text-center">  <!--Cria uma tabela zebrada com o Boostrap com texto centralizado-->
  <thead>
    <tr> <!--Linha da tabela-->
      <th scope="col">PostId</th> <!--Celula do cabeçalho-->
      <th scope="col">GalaxyId</th> <!--Celula do cabeçalho-->
      <th scope="col">PostTitle</th> <!--Celula do cabeçalho-->
      <th scope="col">PostDescription</th> <!--Celula do cabeçalho-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let posts of api"><!--NgFor para percorremos o que foi trazido do Json da nossa Api que foi embutido no nosso vetor-->
      <!--Nos td abaixo, estamos pegando os valores retornados ao nosso vetor de acordo com os parametros da nossa interface -->
      <td>{{posts.userId}}</td> <!--Conteudo-->
      <td>{{posts.id}}</td> <!--Conteudo-->
      <td>{{posts.title}}</td> <!--Conteudo-->
      <td>{{posts.body}}</td> <!--Conteudo-->
    </tr>
  </tbody>
</table>

