body{
background-color: rgba(0,1,3,0.877); /*Deixando uma cor padrão de fundo com transparencia*/
}
th,td, h1, h2, tr, p { /*Deixa padrão o negrito e a cor*/
  color: wheat;
  font-weight: bold;
}
.home{ /*Mudando o tamanho da fonte para melhor visualização*/
  font-size: 25px;
}

button{ /*Personalizando o botão, mudando sua cor, tamanho de fonte e colocando borda*/
  background-color: rgb(85, 50, 182);
  border-radius: 20px;
  font-size: 20px;
  color: white;
}
button:hover{/*Caso o mouse ficar encima do botão ele mudar para a cor preta*/
  background-color: rgb(130, 91, 236);
  color: black;
}
