<section class="text-center">
  <p>Bem vindo(a) Padawan! A Galáxia Inicial!</p>
  <div class="row">
      <div class="col-sm-6">
          <img class="img-responsive" width="400" height="400" src="../../assets/chibi.jpg" />
      </div>
      <div class="col-sm-4">
          <img class="img-responsive" width="400" height="400"  src="../../assets/frame.png" />
      </div>
  </div>
<div>
  <p>Vamos iniciar uma nova jogarnada?</p>
  <p>Clique neste botão abaixo para começarmos!</p>
  <button  [routerLink]="['/posts']">Para a proxima Galáxia</button>
</div>
</section>
